<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Application{% endblock %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body class="bg-gray-50 h-screen text-gray-800">
    <header class="bg-white shadow-md">
        <div class="container mx-auto flex justify-between items-center py-4 px-6">
            <a href="/">
                <h1 class="text-3xl font-bold text-blue-600  cursor-pointer">App-Trading</h1>
            </a>

            <nav>
                <ul class="flex space-x-4">
                    {% if current_user.is_authenticated %}
                    <li class="flex items-center">
                        <span class="text-capitalize font-medium">Admin</span>
                        <a href="{{ url_for('logout') }}" class="ml-2 text-red-500 hover:text-red-700 transition-colors">
                            <i class="bi bi-person-circle"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('admin_login') }}" class="text-blue-500 hover:text-blue-700 transition-colors">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container h-screen mt-4 mx-auto flex flex-col md:flex-row">
        <nav class="bg-white shadow-md md:w-[250px] p-6 rounded-lg md:rounded-l-lg">
            <h2 class="text-lg font-bold mb-4 border-b pb-2 text-gray-700">Menu</h2>
            <ul class="space-y-2">
                <li>
                    <a href="/admin/manager-users" class="flex items-center p-2 text-gray-700 hover:bg-blue-100 rounded-md transition-colors">
                        <i class="fas fa-user-cog mr-2"></i>
                        Quản lý tài khoản
                    </a>

                </li>
                <li>
                    <a href="/admin/follow-recommended" class="flex items-center p-2 text-gray-700 hover:bg-blue-100 rounded-md transition-colors">
                        <i class="fas fa-chart-line mr-2"></i>
                        Theo dõi khuyến nghị
                    </a>
                </li>
            </ul>
        </nav>

       <main class="flex-1 ml-3">
            {% block content %}{% endblock %}
        </main>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>

</html>
